@import url("animations.css");
@import url("buttons.css");
@import url("cards.css");
@import url("contact.css");
@import url("cursor.css");
@import url("home.css");
@import url("nav.css");
@import url("projects.css");
@import url("reset.css");
@import url("responsive.css");
@import url("shapes.css");
@import url("skills.css");
@import url("terminal.css");
@import url("typo.css");
@import url("var.css");
